<main>

   <a href="/newPost">Ajouter un article</a>
   <section>

      <article>

         <h2>Admin</h2>

         <table>

            <thead>
               <th>Titre</th>
               <th>Article</th>
               <th>Auteur</th>
               <th>Categorie</th>
               <th></th>
            </thead>

            <tbody>
               <% if (data.length !== 0){ %>
               <% data.forEach((elem)=>{ %>
                  <tr>
                     <td>
                        <a href="/newPost/<%= elem.Id %>"><%= elem.Title %></a>
                     </td>
                     <td>
                        <%= elem.Contents %>
                     </td>
                     <td>
                        <%= elem.FirstName %>
                        <%= elem.LastName %>
                     </td>
                     <td>
                        <%= elem.Name %>
                     </td>
                     <td>
                        <a href="/delete/<%= elem.Id %>"><i class="fa-solid fa-square-xmark remove"></i></a>
                        <a href="/edit/<%= elem.Id %>"><i class="fa-solid fa-pen-to-square edit"></i></a>
                     </td>
                  </tr>
               <% }) %>
               <% } %>
            </tbody>

         </table>

      </article>

   </section>

</main>