<main>
   
   <a href="/">accueil</a>
   <section class="home-list">

      <article>
         <h2><a href="/">
            <%= headerData[0].Title %>
            </a></h2>
         <p><%= headerData[0].Contents %></p>
         <p>
            le : <%= headerData[0].CreationTimestamp.toLocaleDateString("fr") %>
         </p>
         <p>
            <% if (comments.length !== 0) { %>
            par : <%= comments[0].FirstName %>
                  <%= comments[0].LastName %>
            <% } %>
         </p>
      </article>

   </section>

   <hr>

   <section class="comment-article">

      <% if (comments.length !== 0){ %>
      <% comments.forEach((elem)=> { %>
         <article>
            <h3><%= elem.NickName %></h3>
            <p class="date-comment">
               le <%= elem.CreationTimestamp.toLocaleDateString("fr")%>
            </p>
            <p><%= elem.Contents%></p>
            <hr class="divider">
         </article>
      <% }) %>
      <% } %>

   </section>

   <hr>

   <section>

      <% if(session.isLogged) { %> 
         <form action="/details" method="post">
            <label for="nickname">Alias :</label>
            <input type="text" name="nickname">
   
            <label for="contents">Votre message :</label>
            <input type="text" name="contents">
   
            <input class="hide" type="text" value="<%= idData %>" name="postId">
   
            <input type="submit" value="Envoyer le com'!">
         </form>
      <% } else { %> 
         <h2>Vous devez être connecté pour pouvoir poster des commentaires.</h2>
         <h3><a href="/login">Vous connecter ici.</a></h3>
      <% } %> 

   </section>
   
</main>