<main>
   <section class="home-list">
      
      <h2>Bienvenue sur mon blog !</h2>

      <% if (data.length !== 0){ %>
      <% data.forEach((elem)=>{ %>
         <article>
         <h2><a href="/details/<%= elem.Id %>"> <%= elem.Title %></a></h2>

         <p><%= elem.Contents.substring(0,40) %> ...</p>

         <p><%= elem.CreationTimestamp.toLocaleDateString("fr") %></p>

         <p><%= elem.FirstName %> <%= elem.LastName %></p>
         </article>
      <% }) %>
      <% } %>
     
   </section>
</main>