
<main>
   <section class="home-list">
      
      <h2>Bienvenue sur mon blog</h2>
      <article>
         <h2><a href="/commentPage">
               <%=data[0].Contents.substring(4,15)%>
            </a></h2>
         <p>
            <%= data[0].Contents%>
         </p>
         <p>
            <%= data[0].CreationTimestamp. toLocaleDateString("fr")%>
         </p>
         <p>
            <%= data[0].NickName %>
         </p>
      </article>


      <article>
         <h2><a href="/commentPage">
               <%=data[3].Contents.substring(4,15)%>
            </a></h2>
         <p>
            <%= data[3].Contents%>
         </p>
         <p>
            <%= data[3].CreationTimestamp.toLocaleDateString("fr")%>
         </p>
         <p>
            <%= data[3].NickName %>
         </p>
      </article>

   </section>
</main>

