<main>
   <a href="/">accueil</a>

   <section>

      <h2>Ajouter un article</h2>
      <form action="/newPost" method="post">
      
         <label for="title">Titre de l'article :</label>
         <input type="text" name="title">
      
         <label for="contents">contenu de l'article :</label>
         <textarea name="contents"></textarea>
         
         <select name="user" >
            <% if (author.length !== 0){ %>
            <% author.forEach((elem)=>{ %>
               <option value="<%= elem.Id %>">
               <%= elem.FirstName %> <%= elem.LastName %></option>
            <% }) %>
            <% } %>
         </select>
         
         <select name="category">
            <% if (category.length !== 0){ %>
            <% category.forEach((elem)=>{ %>
               <option value="<%= elem.Id %>">
                  <%= elem.Name %></option>
            <% }) %> 
            <% } %>
         </select>

         <input type="submit" value="Envoyer le com'!">
      
      </form>

   </section>

</main>